html {
  font-size: 100%;
  line-height: 1.5;
}

h1,
h2 {
  margin-top: 0;
  font-weight: 300;
  color: $color-headings;
}

h1, .h1 {
  font-size: 2rem;
  line-height: 1.35;
  @media screen and (min-width: 64em) {
    font-size: 2.5rem;
    line-height: 1.45;
  }
}

h2, .h2 {
  font-size: 2rem;
  line-height: 1.4;
  @media screen and (min-width: 64em) {
    font-size: 1.5rem;
    line-height: 1.3;
  }
}

p, li {
  font-size: 0.9375rem;
  color: $color-copy;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.no-wrap {
  white-space: nowrap;
}

.btn {
  font-family: $pair-font-stack;
  font-size: 0.6875rem;
  font-weight: 700;
  border: 0;
  background: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-right: 0.625rem;
  padding-left: 0.625rem;
  height: 2.25rem;
  text-transform: uppercase;
  transition: all 0.25s ease;
  @media screen and (min-width: 64em) {
    height: 2.5rem;
  }
  &:active,
  &:focus {
    outline: none;
  }
}

.btn--ghost {
  border: 1px solid $color-primary;
  color: $color-primary;
  transition: $transition-global;
  &:hover {
    background-color: $color-primary;
    color: $white;
  }
}

.container {
  margin: 0 auto !important; // ??
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
  max-width: $container-max-width;
}

.copy {
  margin: 0 auto;
  padding: 0 15px;
  color: $color-copy;
  max-width: $copy-max-width;
}
